#galactic-age {
  display: none;
}

body {
  font-family: 'Audiowide', cursive;
  background-image: url(../assets/images/background.jpg);
}
  img {
  max-width: 300px;
  min-width: 80%;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.575);
  }